<div class="deepdive">

    <p>A <span class="red">Nostr</span> <span class="red"><code>[noszter]</code></span> egy online közösségi tér, független a nagy cégek befolyásától. Egy élő hálózat, ahol az információ szabadon áramlik, a kommunikációnak nem lehet gátat szabni.</p>

<!--    <p>Itt nincsenek háttérben futó algoritmusok, melyek függőséget okoznak, és csak a profitot hajtják. A Nostr <span>visszaadja a kontrolt</span> a kezünkbe, hogy manipuláció nélkül, közvetlenül kommunikálhassunk.</p> -->

    <p>Alább cikkeket olvashatsz a működéséről, a <span class="red">Köztéren</span> pedig beleolvashatsz a beszélgetésekbe.</p>
    <div class="linkline"><a href="https://kozter.nostr.hu/?r=relay.nostr.hu" target="_blank">Irány a Köztér!</a></div>
</div>
